---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Works" />
  <Breadcrumbs items={[{ label: 'Works', icon: 'lucide:briefcase' }]} />

  <section>
    <div class="flex flex-col gap-4">
      {projects.map((project) => <ProjectCard project={project} />)}
    </div>
  </section>
</Layout>
